<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stationerymanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrintOutDisplay"></activity>
        <activity android:name=".PhotoCopyDisplay" />
        <activity android:name=".ServiceAddSales" />
        <activity android:name=".BindingDisplay" />
        <activity android:name=".LaminatingDisplay" />
        <activity android:name=".AddServiceSales"/>
        <activity android:name=".ServiceUpdate1"/>

        <activity
            android:name=".TimePickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExpensesList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calls"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fax"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddSales"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainNavigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddService1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddExpenses"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>