<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stationerymanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdateSalesActivity"></activity>
        <activity android:name=".SalesListActivity" />
        <activity
            android:name=".MainNavigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExpensesList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimePickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddExpenses"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calls"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddSales"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddProducts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateProducts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrintOutDisplay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoCopyDisplay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServiceAddSales"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BindingDisplay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LaminatingDisplay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddServiceSales"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddService1"
            android:screenOrientation="portrait" />

        <activity
            android:name=".FCHistory"
            android:label="@string/title_activity_fchistory"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ServiceUpdate1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fax"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>